.grading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f0f0f0; */
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.omr-sheet {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.omr-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.question-number {
  width: 20px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

.option-cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  width: 30px;
  height: 30px;
  border: 2px solid #888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
@media print {
  .bubble.correct {
    background-color: green !important;
    color: white !important;
  }
  .bubble.incorrect {
    background-color: red !important;
    color: white !important;
  }
  .bubble.unattempted {
    background-color: yellow !important;
    color: black !important;
  }
}

.correct {
  background-color: green !important;
  color: white !important;
}

.incorrect {
  background-color: red !important;
  color: white !important;
}

.unattempted {
  background-color: yellow !important;
  color: black !important;
}

/* desktop devices */
@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
