@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.inputKeys {
  flex-direction: column;
}

.displayOMR {
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .inputKeys {
    flex-direction: row;
  }
  .displayOMR {
    flex-direction: column;
  }
  .caption-toolkit{
    margin-top: 1px;
  }
}
